<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Page CSS -->
    <link href="css/pages/chat-app-page.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/chat.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">

    <!-- You can change the theme colors from here -->
    <link href="css/colors/default-dark.css" id="theme" rel="stylesheet">
</head>

<body class="fix-header single-column card-no-border fix-sidebar">

    <!-- ============================================================== -->
    <!-- Main wrapper -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">


                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row animated fadeIn">
                    <div class="col-12">
                        <div class="card m-b-0">
                            <!-- .chat-row -->
                            <div class="chat-main-box">
                                <!-- .chat-left-panel -->
                                <div class="chat-left-aside">
                                    <div class="open-panel"><i class="ti-angle-right"></i></div>
                                    <div class="chat-left-inner">
                                        <div class="form-material">
                                            <input class="form-control p-20" type="text" placeholder="Buscar Contacto" v-model="search">
                                        </div>
                                        <ul class="chatonline style-none" id="divUsuarios">
                                            <li>
                                                <a href="javascript:void(0)" class="active"> Chat de <span> {{ user.room }}</span></a>
                                            </li>

                                            <li v-for="person in filterPeople" :key="person.id">
                                                <a href="javascript:void(0)" @click="onSelectUser(person)">
                                                    <img src="assets/images/users/1.jpg" alt="user-img" class="img-circle">
                                                    <span>{{ person.name }} <small class="text-success">online</small></span>
                                                </a>
                                            </li>

                                            <li class="p-20"></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- .chat-left-panel -->
                                <!-- .chat-right-panel -->
                                <div class="chat-right-aside">
                                    <div class="chat-main-header">
                                        <div class="p-20 b-b">
                                            <h3 class="box-title">Sala de chat <small>{{ user.room }}</small></h3>
                                        </div>
                                    </div>

                                    <div class="chat-rbox">
                                        <ul class="chat-list p-20" id="divChatbox">

                                            <!--chat Row -->
                                            <li class="animated fadeIn" v-for="(message, index) in messages" :key="index" :class="{ 'reverse': user.name == message.name }">
                                                <div v-if="user.name != message.name" class="chat-img"><img src="assets/images/users/1.jpg" alt="user" /></div>
                                                <div class="chat-content">
                                                    <h5>{{ message.name }}</h5>
                                                    <div class="box bg-light-info" :class="{ 'bg-light-danger': message.name == 'Admin', 'bg-light-inverse': user.name == message.name }">
                                                        {{ message.message }}
                                                    </div>
                                                </div>
                                                <div v-if="user.name == message.name" class="chat-img"><img src="assets/images/users/1.jpg" alt="user" /></div>
                                                <div class="chat-time">{{ message.date | formatdate }}</div>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="card-body b-t">
                                        <div class="row">
                                            <div class="col-8">
                                                <textarea ref="messageBox" autocomplete="off" v-model="newMessage" placeholder="Escribe tu mensaje aquí" class="form-control b-0"></textarea>
                                            </div>
                                            <div class="col-4 text-right">
                                                <button type="button" class="btn btn-info btn-circle btn-lg" @click="sendMessage" :disabled="newMessage.trim().length == 0">
                                                    <i class="fa fa-paper-plane-o"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- .chat-right-panel -->
                            </div>
                            <!-- /.chat-row -->
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->

            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer">
                Super Chat - Fernando Herrera
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->





    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="socket.io/socket.io.js"></script>
    <script src="js/socket-chat.js"></script>

</body>

</html>